[mysqld]
ndbcluster
ndb-connectstring=mysql-manager
default_storage_engine=ndbcluster
user=root


[mysql_cluster]
ndb-connectstring=mysql-manager


[ndbd]
connect-string=mysql-manager

[ndb_mgm]
connect-string=mysql-manager